

<% content_for :title do %>openHAB Dashboard<% end %>



<div class="gridster">
  <ul>



    <li data-row="1" data-col="1" data-sizex="4" data-sizey="3">
      <div data-id="iframeId1" data-view="Iframe" data-src="http://web.home.lan/cam.html"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="4" data-sizey="3">
      <div data-id="iframeId1" data-view="Iframe" data-src="http://web.home.lan/cam2.html"></div>
    </li>
	

	
	
	
  </ul>
</div>