

<% content_for :title do %>openHAB Dashboard<% end %>



<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>
	
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="Humidity" data-view="Ohhumid" data-title="Humidity" data-device="Humidity"></div>
    </li>


    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="AC_Up" data-view="Ohswitchred" data-icon="arrow-circle-up" data-title="AC Up" data-device="AC_Up"></div>
    </li>
	
    <li data-row="1" data-col="6" data-sizex="2" data-sizey="1">
      <div data-id="Temp_Avg" data-view="Ohtemp" data-title="Temperature" data-device="Temp_Avg"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SCR_Override" data-view="Ohlightswitch" data-icon="lightbulb-o" data-title="HMI Override" data-device="SCR_Override"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="HeatMode" data-view="Ohswitch" data-icon="fire" data-title="Heat Mode" data-device="HeatMode"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="FanOnly" data-view="Ohswitch" data-icon="cloud" data-title="Fan Only" data-device="FanOnly"></div>
    </li>

	
    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="FireTest" data-view="Ohswitchfire" data-icon="fire-extinguisher" data-title="Fire Test" data-device="FireTest"></div>
    </li>
	
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="iframeId1" data-view="Iframe" data-src="http://openhab.home.lan:3000/dashboard-solo/db/dashing-embed?from=now-6h&to=now&panelId=7"></div>
    </li>
	
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="AC_Down" data-view="Ohswitchblue" data-icon="arrow-circle-down" data-title="AC Down" data-device="AC_Down"></div>
    </li>


    <li data-row="2" data-col="6" data-sizex="2" data-sizey="1">
      <div data-id="Thermostat" data-view="Ohtemp" data-title="Thermostat" data-device="Thermostat"></div>
    </li>


    <li data-row="3" data-col="2" data-sizex="3" data-sizey="2">
      <div data-id="iframeId1" data-view="Iframe" data-src="http://web.home.lan/cam.html"></div>
    </li>

    <li data-row="3" data-col="5" data-sizex="3" data-sizey="2">
      <div data-id="iframeId1" data-view="Iframe" data-src="http://web.home.lan/cam2.html"></div>
    </li>
	
   <li data-row="5" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="link-default-dashboard" data-view="Text" data-icon="video-camera" data-title="Cameras"  onclick="location.href='http://openhab.home.lan:3030/cameras'" style="background-color:#364B59"></div>
    </li>

	
    <li data-row="5" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="Changepage" data-icon="arrow-right" data-title="Room Lighting" data-page="2" data-stagger="false" data-fasttransition="true" style="background-color:#085C61"></div>
    </li>



	
	
	
  </ul>
</div>