# The database URL, e.g. http://127.0.0.1:8086 or https://127.0.0.1:8084 .
# Defaults to: http://127.0.0.1:8086
url=http://192.168.1.28:8086/

# The name of the database user, e.g. openhab.
# Defaults to: openhab
user=sdfsfd

# The password of the database user.
password=csfsdfsdf
# The name of the database, e.g. openhab.
# Defaults to: openhab
db=openhab_db

retentionPolicy=autogen