poll=100
# Connection parameters to Modbus TCP server ("slave"), values separated by colon (:)
# - host or ip of the modbus server ("slave"), mandatory
# - port, optional, default 502
# - interTransactionDelayMillis, optional, in milliseconds, default 60
# - reconnectAfterMillis, optional, in milliseconds, default 0
# - interConnectDelayMillis, optional, in milliseconds, default 0
# - connectMaxTries, optional, default 3
# - connectTimeout, optional, in milliseconds, default 0 (=infinite or OS default)
#
#    (slave name)      (host or IP)
#    |                 |             (port)
#    |                 |             |   (interTransactionDelayMillis, in milliseconds)
#    |                 |             |   |  (reconnectAfterMillis, in milliseconds)
#    |                 |             |   |  | (interConnectDelayMillis, in milliseconds)
#    |                 |             |   |  | | (connectMaxTries)
#    |                 |             |   |  | | | (connectTimeout)
#    |                 |             |   |  | | | |

# AC Compressor
tcp.slave1.connection=192.168.1.18:502:0
tcp.slave1.start=8192
tcp.slave1.length=1
tcp.slave1.type=coil

# TempMain
tcp.slave2.connection=192.168.1.18:502:0
tcp.slave2.start=28758
tcp.slave2.length=2
tcp.slave2.type=holding
tcp.slave2.valuetype=float32_swap

# Humidity
tcp.slave3.connection=192.168.1.18:502:0
tcp.slave3.start=28674
tcp.slave3.length=2
tcp.slave3.type=holding
tcp.slave3.valuetype=float32_swap

# Watts
tcp.slave4.connection=192.168.1.18:502:0
tcp.slave4.start=28692
tcp.slave4.length=2
tcp.slave4.type=holding
tcp.slave4.valuetype=float32_swap

# Line A Current
tcp.slave5.connection=192.168.1.18:502:0
tcp.slave5.start=28688
tcp.slave5.length=2
tcp.slave5.type=holding
tcp.slave5.valuetype=float32_swap

# Line B Current
tcp.slave6.connection=192.168.1.18:502:0
tcp.slave6.start=28690
tcp.slave6.length=2
tcp.slave6.type=holding
tcp.slave6.valuetype=float32_swap

# Voltage
tcp.slave7.connection=192.168.1.18:502:0
tcp.slave7.start=28694
tcp.slave7.length=2
tcp.slave7.type=holding
tcp.slave7.valuetype=float32_swap

# Kilowatt - Hours
tcp.slave8.connection=192.168.1.18:502:0
tcp.slave8.start=28696
tcp.slave8.length=2
tcp.slave8.type=holding
tcp.slave8.valuetype=float32_swap

# Power Factor
tcp.slave9.connection=192.168.1.18:502:0
tcp.slave9.start=28698
tcp.slave9.length=2
tcp.slave9.type=holding
tcp.slave9.valuetype=float32_swap

# Hertz
tcp.slave10.connection=192.168.1.18:502:0
tcp.slave10.start=28700
tcp.slave10.length=2
tcp.slave10.type=holding
tcp.slave10.valuetype=float32_swap

# Estimated Bill
tcp.slave11.connection=192.168.1.18:502:0
tcp.slave11.start=28706
tcp.slave11.length=2
tcp.slave11.type=holding
tcp.slave11.valuetype=float32_swap

# Line To Line Voltage
tcp.slave12.connection=192.168.1.18:502:0
tcp.slave12.start=28684
tcp.slave12.length=2
tcp.slave12.type=holding
tcp.slave12.valuetype=float32_swap

# SCR Output
tcp.slave13.connection=192.168.1.18:502:0
tcp.slave13.start=16433
tcp.slave13.length=1
tcp.slave13.type=coil

# Thermostat
tcp.slave17.connection=192.168.1.18:502:0
tcp.slave17.start=01
tcp.slave17.length=1
tcp.slave17.type=holding
tcp.slave17.valuetype=uint16
tcp.slave17.updateunchangeditems=true

# HVAC Off
tcp.slave18.connection=192.168.1.18:502:0
tcp.slave18.start=16386
tcp.slave18.length=1
tcp.slave18.type=coil

# KWh Reset
tcp.slave19.connection=192.168.1.18:502:0
tcp.slave19.start=16413
tcp.slave19.length=1
tcp.slave19.type=coil

# Temp Error
tcp.slave22.connection=192.168.1.18:502:0
tcp.slave22.start=16405
tcp.slave22.length=1
tcp.slave22.type=coil

# ScanTime
tcp.slave23.connection=192.168.1.18:502:0
tcp.slave23.start=61449
tcp.slave23.length=1
tcp.slave23.type=input
tcp.slave23.valuetype=uint16

# Heat Mode
tcp.slave24.connection=192.168.1.18:502:0
tcp.slave24.start=16402
tcp.slave24.length=1
tcp.slave24.type=coil

# Fan Only
tcp.slave25.connection=192.168.1.18:502:0
tcp.slave25.start=16385
tcp.slave25.length=1
tcp.slave25.type=coil

# SCR Dimmer
tcp.slave26.connection=192.168.1.18:502:0
tcp.slave26.start=49
tcp.slave26.length=1
tcp.slave26.type=holding
tcp.slave26.valuetype=uint16