# The apikey for the different weather providers, at least one must be specified
# Note: Hamweather requires two apikeys: client_id=apikey, client_secret=apikey2
#apikey.ForecastIo=040d007eb525b2f477d2f23b7846f687
apikey.OpenWeatherMap=sdfsdfsfd
#apikey.Wunderground=ee4d4f7712c8a468


# location configuration, you can specify multiple locations
#location.sandshome.name=sandsweather
location.sandshome.latitude=39.98
location.sandshome.longitude=-86.12
location.sandshome.provider=OpenWeatherMap
location.sandshome.language=en
location.sandshome.updateInterval=10
location.sandshome.units=us
