// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
.widget-ohswitchred {

  background-color: #444 !important;

  .title {
    color: #fff;
  }

  .switch-icon-off .switch-icon-on {
    font-size: 150%;
  }

  .switch-icon-off {
    color: #ff4838;
  }

  .switch-icon-on {
  	color: #ff4838;
  }

}
